<%- include('./partials/header') %> 
    <h1 class="welcome">Welcome to Glossa Galore</h1>
    <h5>Accelerate your vocabulary in another language.</h5>
    <div class="login-links">
      <a class="welcome-link" href="/users/feed">Feed</a>
      <a class="welcome-link" href="/learn">Learn Now</a>
  </div>

<%- include('./partials/footer') %> 