<%- include('./partials/header') %>
<main class="home-page">
    <h1 class="welcome">Welcome to Glossa Galore</h1>
    <h5>Accelerate your vocabulary in another language.</h5>
    <div class="login-links">
      <% if (user) { %>
        <a class="welcome-link" href="/users/<%= user.id %>/feed">Feed</a>
      <% } else { %>
        <a class="welcome-link" href="/auth/google">Feed</a>
      <% } %>
      <% if (user) { %>
        <a class="welcome-link" href="/learn/<%= user.id %>/languages">Learn Now</a>
      <% } else { %>
        <a class="welcome-link" href="/auth/google">Learn Now</a>
      <% } %>
  </div>
</main>
<%- include('./partials/footer') %> 
