body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 100%;
}

a {
  color: #00B7FF;
}

/* Learn Page */

.container {
  display: flex;
  justify-content: stretch;
  margin:auto
}

.col {
  text-align: center;
}

/* input {
  text-align: center;
} */

#card-action {
  display: flex;
  justify-content: center;

}

#word {
  border: none;
  max-height: 1px;
  font-size: 1px;
}

#learn-stats {
  display: flex;
}

/* .card-content {
} */