body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 100%;
}

a {
  color: #00B7FF;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
   

}

.col {
  text-align: center;
}