<%- include('../partials/header') %> 
  <p>Welcome to Glossa Galore</p>
  <ul class="right">
	<li>
	<% if (user) { %>
		<a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
	<% } else { %>
		<a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
	<% } %>
	</li>
</ul>

<%- include('../partials/footer') %> 
