<%- include('../partials/header') %>
    <h1>New Post Form</h1>
    <form action="/users/<%= user.id %>/posts" method="POST">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Type title here..." name="title" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="img">Recent words learned</label>
            <input type="text" class="form-control" id="recentWords" placeholder="Insert recent words learned" name="recentWords" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="content">Content</label>
            <textarea type="text" class="form-control" id="content" name="content" required></textarea>
          </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>

<%- include('../partials/footer') %> 